h1 {
    color: rgb(36, 70, 39);
    text-align: left;
}

h2 {
    color: rgb(8, 15, 15);
    text-align: left;
}
body {
    background-image: url(./imagenes/img\ de\ fondo.jpg);
}
img {
    border-radius: 10%;

}